<div th:fragment="usersTable">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css">
    <div class="container">
        <div class="container mt-2 mb-2">
            <table
                    data-advanced-search="true"
                    data-filter-control="true"
                    data-filter-show-clear="true"
                    data-id-table="advancedTable"
                    data-search="true"
                    data-toggle="table"
                    data-toolbar="#toolbar"
                    id="table">
                <thead>
                <tr>
                    <th class="text-end" data-field="id" data-sortable="true" scope="col">Id</th>
                    <th data-field="username" data-sortable="true" scope="col">Username</th>
                    <th data-field="client_name" data-filter-control="select" data-sortable="true" scope="col">Social
                    </th>
                    <th data-field="link" scope="col">Link</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user: ${users}">
                    <td th:text="${user.getId()}"></td>
                    <td th:text="${user.getUsername()}"></td>
                    <td th:text="${user.getClientName()}"></td>
                    <td>
                        <a class="h4 mr-3" th:href="@{'/user/' + ${user.getId()}}">View</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/d361015408.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>

    <script>
        $(function () {
            $('#table').bootstrapTable()
        })
    </script>

</div>

